﻿@model RewardChamberModel

@{
    ViewBag.Title = "Reward Chamber";
    Layout = "_Layout";
}

<h2>Reward Chamber</h2>

<div class="row">
    <div class="col-sm-offset-8 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body text-right">
                <div class="form-inline form-group-lg">
                    <div class="form-group">
                        <label>Spin Count:</label>
                        <span class="form-control-static">@Model.SpinCount</span>
                    </div>
                    <div class="form-group">
                        <label>Score:</label>
                        <span class="form-control-static">@Model.TotalScore</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">

        @for (var i = 0; i < Model.Chests.Count; i++)
        {
            var chest = Model.Chests[i];
            var chestClass = chest.IsOpen ? chest.Chest.Reward > 0 || chest.Chest.FreeSpins > 0 ? "chest-full" : "chest-empty" : "chest-closed";

            @if (chest.IsOpen)
            {
                <div class="chest-container @(chest.IsSelected ? "selected" : "")">
                    <div class="chest @chestClass">
                        <div class="reward">
                            @if (chest.Chest.Reward > 0 || chest.Chest.FreeSpins > 0)
                            {
                                if (chest.Chest.Reward > 0)
                                {
                                    <div>+@chest.Chest.Reward</div>
                                }
                                
                                if (chest.Chest.FreeSpins > 0)
                                {
                                    <div>+@chest.Chest.FreeSpins Free Spin(s)</div>
                                }
                            }
                            else
                            {
                                <span>Empty</span>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <form action="@Url.Action("Open", new {chestNumber = i})" style="display: inline-block" method="POST">
                    <button type="submit" class="chest-container">
                        <div class="chest @chestClass"></div>
                    </button>
                </form>
            }
        }

    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        @if (Model.SpinCount > 0 || Model.Chests.Any(c => !c.IsOpen))
        {
            <form action='@Url.Action("Spin")' method="POST">
                <button type="@(Model.Chests.Any(c => c.IsOpen) ? " submit" : "button")" class="btn btn-default btn-lg @(Model.Chests.Any(c => c.IsOpen) ? " btn-primary" : "disabled")">Spin</button>
            </form>
        }
        else
        {
            <form action="@Url.Action("Complete")" method="POST">
                <button type="submit" class="btn btn-default btn-lg">Complete</button>
            </form>
        }
    </div>
</div>