﻿@model RewardChamberModel

@{
    ViewBag.Title = "Reward Chamber";
    Layout = "_Layout";
}

<h2>Reward Chamber</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Reward: @Model.TotalScore</h1>
        </div>
    </div>
</div>