﻿@{
    ViewData["Title"] = "Reward Chamber";
}
<img src="https://previews.123rf.com/images/aquir/aquir1808/aquir180803387/111827278-reward-sign-reward-paper-origami-speech-bubble-reward-tag-reward-banner.jpg"
     style="width: 100%;"/>

<br/>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" Action="@Url.Action("Start", "Reward")" method="post">
            <div class="form-group">
                <label class="col-sm-offset-3 col-sm-2 control-label">Spin Count:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" value="10" name="spinCount"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-offset-3 col-sm-2 control-label">Base Reward:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" value="100" name="baseReward"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-1">
                    <button type="submit" class="btn btn-primary">Start</button>
                </div>
            </div>
        </form>
    </div>
</div>
