﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.chest-container {
    padding: 20px;
    border: 3px lightgray solid;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background: none;
}

.chest {
    height: 160px;
    width: 225px;
    position: relative;
}

.chest-container:hover,
.chest-container.selected {
    border-color: cadetblue;
}

.chest .reward {
    position: absolute;
    padding: 10px;
    border: 2px solid gray;
    background: lightgray;
    border-radius: 10px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 1.5em;
}

.chest-container.selected .chest .reward {
    border: 2px solid green;
    background: lightgreen;
}

.chest-container.selected .chest.chest-empty .reward {
    border: 2px solid red;
    background: lightsalmon;
}

.chest-closed {
    background: url('https://t4.ftcdn.net/jpg/01/66/34/21/500_F_166342106_ApT78L20MH2az6e3q1EBJg8yh2CQbZkb.jpg');
    background-position-x: 0;
    background-position-y: 0;
}

.chest-full {
    background: url('https://t4.ftcdn.net/jpg/01/66/34/21/500_F_166342106_ApT78L20MH2az6e3q1EBJg8yh2CQbZkb.jpg');
    background-position-x: 0;
    background-position-y: 340px;
}

.chest-bonus {
    background: url('https://t4.ftcdn.net/jpg/01/66/34/21/500_F_166342106_ApT78L20MH2az6e3q1EBJg8yh2CQbZkb.jpg');
    background-position-x: 160px;
    background-position-y: 160px;
}

.chest-empty {
    background: url('https://t4.ftcdn.net/jpg/01/66/34/21/500_F_166342106_ApT78L20MH2az6e3q1EBJg8yh2CQbZkb.jpg');
    background-position-x: 340px;
    background-position-y: 340px;
}